.home {
  position: relative;
  padding: 60px 10px 40px 10px;

  // Title
  &__title {
    //margin-top: 60px;
    font-family: $title-font;
    color: $black-color;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    height: 75px;
    overflow: hidden;
  }

  // Buttons (More info && Watch video)
  &__buttons {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 30px;
    justify-content: center;
    
    &_item {
      flex-basis: 50%;

      &:first-child {
        padding-left: 20px;
      }
    }

    &_link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &_text {
      font-family: $title-font;
      color: $black-color;
      font-size: 18px;
      margin-left: 15px;
    }
  }

  // Mockup
  &__mockup {
    position: relative;
    //background-image: url('../img/mockup.svg');
    //background-position: 0 0;
    //background-repeat: no-repeat;
    width: 280px;
    //height: 504px;
    //-webkit-background-size: cover;
    //background-size: cover;
    
    &_img {
      width: 280px;
      z-index: 2;
      position: relative;
    }

    &_img-back {
      width: 249px;
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 0;
    }
  }

  // Model Page
  &__model {
    height: calc(100vh - 95px);
    background-image: url('../img/model-mob.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_head-title {
      font-family: 'Graphik', sans-serif;
      font-size: 22px;
      line-height: 1.6;
      color: rgb(242, 242, 242);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__creative {
    height: calc(100vh - 95px);
    background-image: url('../img/fashion-maker-mob.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__agent {
    height: calc(100vh - 95px);
    background-image: url('../img/agent-mob.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__producer {
    height: calc(100vh - 95px);
    background-image: url('../img/producert-mob.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__scroll-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.scroll-button {
  width: 8px;
  height: 133px;
}

.scroll-button a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.scroll-button span {
  position: absolute;
  bottom: 22px;
  left: -27px;
  color: rgb(242, 242, 242);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "graphik-lcg", sans-serif;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.line-container {
  width: 1px;
  height: 30px;
  left: -6px;
  position: absolute;
  bottom: 65px;
  overflow-y: hidden;
}


.line {
  width: 1px;
  height: 0px;
  position: absolute;
  background-color: rgb(242, 242, 242);
  animation: line-animation 1.5s ease-in-out 0s infinite normal;
}

@keyframes line-animation {
  0% {height: 0px; top: 0}
  49% {height: 40px;}
  100% {height: 0px; top: 40px;}
}