.roule {
  position: relative;

  // Transition title
  &__transition-title {
    span {
      font-size: 17px;
      line-height: 2.35;
      color: rgb(241, 81, 82);
      display: block;
      margin-top: 15px;
    }
  }

  // Title
  &__title {
    margin-top: 80px;
  }

  // Item
  &__list {
    position: relative;
    margin-top: 70px;
    height: 560px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-end;
  }

  &__item {
    height: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
    position: absolute;
    z-index: 1;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 140px;
      left: 0;

      //&.active {
      //  top: 140px;
      //}
    }

    &:nth-child(3) {
      top: 280px;
      left: 0;
    }

    &:nth-child(4) {
      top: 420px;
      left: 0;
    }

    &.z3 {
      z-index: 3;
    }

    &.active {
      //z-index: 3;
      height: 100%;
      background-color: $color-red-etl;
      top: 0;
      //position: fixed;
      //top: 55px;
      //left: 10px;
      //width: calc(100% - 20px);
      //z-index: 3;

      .roule__img {
        opacity: 1;
        height: 290px;
        top: auto;
        bottom: 0;
        left: -50px;
        filter: grayscale(0%);
        z-index: 3;
      }

      .roule__imgs {
        overflow: visible;
        top: auto;
        bottom: 0;
      }

      .roule__head-title {
        top: 70px;
        left: 23px;
      }

      .roule__bg-title {
        opacity: 0;
        visibility: hidden;
      }

      .roule__back-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: $black-color;
        color: $white-color;
        font-family: $title-font;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-left: 60px;
        opacity: 1;
        visibility: visible;
        z-index: 3;
        transition: .5s ease-in-out;
        transform: translateX(0);
        
        &:before {
          content: '';
          position: absolute;
          left: 25px;
          top: 14px;
          width: 17px;
          height: 12px;
          background-image: url('../img/back-icon.svg');
        }
      }

      .roule__text {
        position: absolute;
        top: 105px;
        left: 23px;
        width: 313px;
        font-family: $paragraph-font;
        font-size: 14px;
        color: $white-color;
        line-height: 1.83;
        opacity: 1;
        visibility: visible;
      }

      .roule__more {
        position: absolute;
        top: 265px;
        left: 23px;
        padding-left: 28px;
        font-family: $title-font;
        font-size: 16px;
        color: $black-color;
        z-index: 3;
        opacity: 1;
        visibility: visible;
        display: block;
        height: 20px;
        transition: .5s ease-in-out;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 17px;
          height: 100%;
          background-image: url('../img/arrow-right.svg');
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: 0 30%;
          opacity: 1;
        }
      }
    }
  }

  &__model {
    background-color: rgb(235, 235, 235);
  }

  &__creative {
    background-color: rgb(230, 230, 230);
  }

  &__agent {
    background-color: rgb(223, 223, 223);
  }

  &__producer {
    background-color: rgb(213, 213, 213);
  }

  // Roule Images (Shadow and Photo)
  &__imgs {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    //overflow: hidden;
    //width: 160px;
    transition: .5s ease-in-out;
  }

  &__img {
    left: -30px;
    bottom: -25px;
    position: absolute;
    filter: grayscale(100%);
    height: 170px;
    opacity: .6;
    transition: .5s ease-in-out;
  }

  // Roule titles
  &__head-title {
    position: absolute;
    left: 165px;
    top: 60px;
    transition: .3s ease-in-out;

    &_text {
      font-family: $title-font;
      font-weight: bold;
      letter-spacing: 4.8px;
      color: $black-color;
      text-transform: uppercase;
      font-size: 16px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      transform: translate(25px, 0);
      right: 0;
      background-image: url('../img/arrow-rigtht-role.svg');
      background-position: 10px 3px;
      background-repeat: no-repeat;
      height: 100%;
      width: 30px;
    }
  }

  &__bg-title {
    position: absolute;
    right: -13px;
    bottom: -8px;
    font-family: $title-font;
    font-weight: bold;
    letter-spacing: 10.8px;
    color: rgba($white-color, .4);
    font-size: 36px;
    text-transform: uppercase;
    transition: .5s ease-in-out;
  }

  &__text, &__back-btn, &__more {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
  }

  &__back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: $black-color;
    color: $white-color;
    font-family: $title-font;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    opacity: 1;
    visibility: hidden;
    z-index: 3;
    transform: translateX(-100%);
    transition: .3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      left: 25px;
      top: 14px;
      width: 17px;
      height: 12px;
      background-image: url('../img/back-icon.svg');
    }
  }

  &__text {
    position: absolute;
    top: 105px;
    left: 23px;
    width: 313px;
    font-family: $paragraph-font;
    font-size: 14px;
    color: $white-color;
    line-height: 1.83;
    opacity: 0;
    visibility: visible;
    transition: .3s ease-in-out;
  }

  &__more {
    text-decoration: none;
    transition: .2s ease-in-out;
    position: absolute;
    top: 265px;
    left: 23px;
    padding-left: 28px;
    font-family: "Graphik", sans-serif;
    font-size: 16px;
    color: black;
    z-index: 3;
    opacity: 1;
    visibility: hidden;
    display: block;
    height: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 17px;
      height: 100%;
      background-image: url('../img/arrow-right.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 0 30%;
      opacity: 0;
      transition: .2s ease-in-out;
    }
  }
}