// Colors
$layout-bg: rgb(255, 255, 255);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$color-red-etl: rgb(241, 81, 82);
$bg-color: rgb(251, 250, 250);

// Fonts
$title-font: 'Graphik', sans-serif;
$paragraph-font: 'Montserrat', sans-serif;