@import "fonts";
@import "settings";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    background-color: $layout-bg;
    font-family: $paragraph-font;
    overflow-x: hidden;
}

main {
    background-color: $bg-color;
    width: calc(100% - 20px);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-top: 55px;
    padding-bottom: 40px;
}

// Transition title
.transition-title {
    width: 100%;
    background-color: $black-color;
    color: $white-color;
    font-family: $title-font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.88;
    padding: 60px 20px;
    text-transform: uppercase;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white-color;
        width: 2px;
        height: 30px;
        bottom: 0;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $black-color;
        width: 2px;
        height: 30px;
        bottom: -30px;
    }
}

// Section Title
.section-title {
    font-family: $title-font;
    font-weight: bold;
    color: $black-color;
    line-height: 1.6;
    font-size: 29px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
}

// Parts
@import "header";
@import "home";
@import "how";
@import "roule";
@import "footer";
@import "contacts";